[Unit]
Description=System setup service

[Service]
ExecStart=/usr/bin/tinyghettobox/system-setup.sh
Type=oneshot
RemainAfterExit=false
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=sysinit.target

