[Unit]
Description=Psplash Shutdown Service
DefaultDependencies=no
Before=shutdown.target

[Service]
Type=simple
ExecStart=/usr/bin/psplash-down
RemainAfterExit=true

[Install]
WantedBy=shutdown.target
